<div class="container">
  <div class="header">
   <img class="img-logo" src="/images/web-developer-logo.jpg" alt="web developer" />
  

    <ul class="nav-links">
      <li><a routerLink='/aboutme'>About me</a></li>
      <li><a routerLink='/contactme'>Contact me</a></li>  
  <li><a routerLink='/experience'>Experience</a></li> 
    </ul>
  </div>

  <!-- <mat-toolbar>
    <button mat-icon-button routerLink='/aboutme' class="example-icon " aria-label="Example icon-button with">
    </button>
    <button mat-icon-button  class="example-icon" aria-label="Example icon-button with share icon">
     Work Experience
    </button>
    <button mat-icon-button  class="example-icon" aria-label="Example icon-button with share icon">
      Contact page
    </button>
    <li> <a routerLink='/experience'>Work Experience</a></li> 
    <li><a routerLink='/aboutme'>Education</a></li> 
    <li><a routerLink='/aboutme'>Hobbies</a> </li>
   <li><a routerLink='/contactme'><mat-icon>contact_page</mat-icon> </a> </li>
  </mat-toolbar> -->

  <router-outlet />
</div>





